# Ignore the virtual environment
myvenv/
.env/
env

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

*/migrations/*

# Ignore the database file
db.sqlite3

# Ignore logs
*.log

# Ignore the cache
__pycache__/
